.loginBody {
    background-color: mainColor.$mainColor;

    .login {

        &__container {
            background-color: #ffff;
            margin: 64px;
            padding: 25px;

            .createAccount {
                margin: 20px 0 0;
                align-items: baseline;
            }

            .googleLink {
                margin: 20px;
            }
        }

        &__img {
            flex: 3;
            // background-color: mainColor.$secondariColor;
            justify-content: center;
            align-items: center;

            img {
                width: 60%;
            }
        }
    }
}