.navbar {
    width: 90%;
    padding-top: 20px;
    margin: auto;

    .logo {
        img {
            width: 75px;
        }
    }

    .login {
        img {
            width: 40px;
        }
    }
}

#dropdown-basic {
    background-color: transparent;
    border: none;
}

.welcome {
    font-weight: 600;
}

.dropMenuItem {
    text-decoration: none;
}