@use 'mainColor';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//-----------------------flex column 

.d-f-col {
    display: flex;
    flex-direction: column
}

//-----------------------flex column align-center justi-center

.d-f-col-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

//-----------------------flex row 

.d-f-row {
    display: flex;
    flex-direction: row
}

//-----------------------flex row align-center justi-center

.d-f-row-center-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

//-----------------------border radius

.b-radius-15 {
    border-radius: 15px;
}


//-----------------------border radius

.linkButton {
    margin-left: 5px;
    border: none;
    color: mainColor.$fourthColor;
    background-color: transparent;
}

@import "../view/Home/Home.scss";
@import "../view/Login/Login.scss";
@import "../view/Navbar/Navbar.scss";

@import "../Components/LoginNormal/LoginNormal.scss";