.assignForm-body {

    width: 80%;
    margin: auto;

    .assignForm {
        margin: 25px auto;
        padding: 25px 0;
        background-color: beige;

        & .assignForm__container {
            width: 80%;
            margin: auto;

            & .assignForm__container-items {

                & .floatingInput__task {
                    width: 100%;
                }
            }
        }
    }
}