.assignForm-body {

    width: 80%;
    margin: auto;

    .assignForm {
        margin: 25px auto;
        padding: 25px 0;
        background-color: beige;

        & .assignForm__container {
            width: 95%;
            margin: auto;

            & .assignForm__container-items {
                display: flex;
                flex-direction: row;
                gap: 3px;

                & .floatingInput__task {
                    width: 100%;
                }
            }

            @media screen and (max-width:700px) {
                .assignForm__container-items {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                }
            }
        }
    }
}